/*modificaciones del body*/
@import "variables.scss";

html,
body {
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

$fondo: $imagen-fondo;

html,
body {
    @if $fondo == $color-azul {
        background-color: $color-azul;
    } @else if $fondo == $color-blancoTransparente {
        background-color: $color-blancoTransparente;
    } @else if $fondo ==$imagen-fondo {
        background-image: url("../imagenes/fondo.jpg");
    } @else {
        background-color: $color-blanco;
    }
}
