/*seccion contenido*/

#contenido {
    display: flex;
    @include contenido-display;
    #titulo {
        @include titulo;
    }

    #con-box {
        @include con-box;
    }
}

#proximamente {
    @include proximamente-h1-con;
}
@media (width <= 1650px) {
    #novedades-des {
        @include mediaquery-novedades-des-con;
        h3 {
            font-size: 20px;
            padding: 6px;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

#proximamente h1 {
    @include proximamente-h1;
}

@media (width <= 1650px) {
    #titulo {
        width: $width-full;
    }
}

@media (width <= 1650px) {
    #contenido {
        width: $width-full;
    }
}

#novedades-des h3 {
    @include novedades-h3;
}

#novedades {
    @include novedades;
}
#novedades-des {
    @include novedades-des;
}

#novedades-des img {
    @include contenido-img;
}
