/*seccion contenido*/

#contenido {
    display: flex;
    @include contenido-display;
    #titulo {
        @include titulo;
    }

    #con-box {
        @include con-box;
    }
}

#proximamente {
    @include proximamente-h1-con;
}

#novedades {
    @include novedades;
}

#novedades-des h3 {
    @include novedades-h3;
}

@media (width <= 1100px) {
    .novedades-des {
        @include mediaquery-novedades-des-con;
    }
}

#proximamente h1 {
    @include proximamente-h1;
}

@media (width <= 1650px) {
    #titulo {
        width: $width-full;
    }
}

@media (width <= 1650px) {
    #contenido {
        width: $width-full;
    }
}

#novedades-des {
    @include novedades-des;
}

#novedades-des img {
    @include contenido-img;
}

@media (width <= 1650px) {
    #novedades-des {
        @include mediaquery-novedades-des-nov;
    }
}

#novedades-des h3 {
    font-size: 30px;
    color: rgba(240, 248, 255, 0.767);
    text-align: center;
    border-width: 3px;
    border-style: inset;
    border-color: rgba(130, 143, 12, 0.267);
    font-family: "Amatic SC", cursive;
    background-color: $color-azul;
    margin-top: 41px;
    margin-bottom: 40px;
    width: $width-full;
}

@media (width <= 1650px) {
    #novedades-des h3 {
        font-size: 20px;
        margin-top: -8px;
    }
}
