/* novedades seccion */

.novedades-des {
    @include novedades-des;

    h1 {
        @include nodedades-des-h1;
    }
    h2 {
        @include novedades-des-h2;
    }
}

#novedades {
    @include nodedades-estilo;
    .container-nov {
        @include conteiner-nov;
    }

    .nov-box {
        @include nov-box;
    }
}
@media (width <= 1650px) {
    .nov-box img {
        margin-left: 30px;
    }
}

@media (width <= 1650px) {
    .container-nov {
        @include mediaquery-conteiner-nov;
    }
}

@media (width >= 1100px) {
    .novedades-des h2 {
        height: 60px;
        width: 700px;
    }
}
