$color-blanco: #ffffffaf;
$color-azul: rgba(4, 9, 51, 0.493);
$color-blancoTransparente: rgba(240, 248, 255, 0.767);
$color-dorado: rgba(130, 143, 12, 0.267);
$color-cesleste: #1d9ce670;
$proximamente-h1: rgba(239, 121, 10, 0.458);
$tier-color: rgba(252, 109, 6, 0.479);
$maid-color-h3: rgba(125, 103, 253, 0.753);
$footer-link: rgb(95, 197, 231);
$header-background-color: rgba(4, 9, 51, 0.493);
$font-nunito: "Nunito Sans", sans-serif;
$fond-amatic: "Amatic SC", cursive;
$width-full: 100%;

$imagen-fondo: url(/imagenes/fondo.jpg);
